.slider{
    min-height: 100%;
    margin-right: 30px;
    margin-left: 30px;
}
.graph{
    height: 180px;
    margin-top: 40px;
}
.titulo{
    color:#004AAD;
}
.recomendacion {
    padding: 40px 40px 10px 40px;
  }