<ion-content>
  
  <ion-grid fixed class="login">
    <ion-img [src]="img_src" class="image-map"></ion-img>
    <br>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text>
          <h5><b>LOCAL DE VACUNACIÓN ASIGNADA:</b></h5>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col class="ion-text-center">
        <ion-text>
          <h2>Av. Primera Vacuna 1240</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col class="ion-text-center">
        <ion-text>
          <h5><b>RECUERDA ANOTAR LA DIRECCIÓN DE TU LOCAL</b></h5>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col class="ion-text-center">
        <ion-icon name="copy-outline"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-group>
    <ion-button expand="block" class="loginButton" routerLink="/seleccion-usuario" routerDirection="back">Regresar</ion-button>
  </ion-item-group>
</ion-content>